{% extends 'my_app/layoute.html' %}

{% block title %}
    <title>Вторая страничка</title>
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h4 class="text-center mb-4">Это вторая страница сайта</h4>
        <div class="card">
            <div class="card-body">
                <p class="card-text">Добро пожаловать на вторую страницу нашего сайта. Здесь вы можете найти различные ресурсы и информацию, которая может вас заинтересовать.</p>
                <a href="#" class="btn btn-primary">Узнать больше</a>
            </div>
        </div>
    </div>
{% endblock %}