{% extends 'my_app/layoute.html' %}

{% block title %}
    <title>Первая страница на django</title>
{% endblock %}

{% block content %}

    <h1>Добро пожаловать на сайт {{caption}}!</h1>

    <h3>Мы рады представить вам наш новый веб-сайт, созданный с использованием фреймворка Django. Этот проект нацелен на то, чтобы сделать вашу жизнь проще и удобнее, предоставляя доступ к необходимой информации и функционалу.</h3>

    <p>Мы всегда открыты для вашего мнения. Если у вас есть предложения или замечания, не стесняйтесь обращаться к нам через форму обратной связи на сайте.</p>

    <p>**Следите за обновлениями!**</p>

    <p>Подписывайтесь на наши новости и будьте в курсе последних изменений и новых функций. Спасибо, что выбрали нас!</p>
{% endblock %}