<ul class="list-group">
    <li class="list-group-item"><a href="{% url 'index' %}" class="text-decoration-none">Главная</a></li>
    <li class="list-group-item"><a href="{% url 'data' %}" class="text-decoration-none">Вторая страница</a></li>
    <li class="list-group-item"><a href="{% url 'test' %}" class="text-decoration-none">Третья страница</a></li>
    <li class="list-group-item"><a href="{% url 'four' %}" class="text-decoration-none">Четвёртая страница</a></li>
    <li class="list-group-item"><a href="{% url 'news_home' %}" class="text-decoration-none">Новостная страница</a></li>
    <li class="list-group-item"><a href="{% url 'add_news' %}" class="text-decoration-none">Добавить новость</a></li>
</ul>